<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Compra</title>
</head>
<body>
    <h1 class="re23">Compra efetuada</h1>
    <h3 class="tex12">Parabéns pela compra</h3>
    <p class="pores1">Esperamos que faça bom uso de sua compra e tenha uma boa experiencia</p>
    <button class="button" onclick="document.location='reg.html'">Voltar as compras</button> 
    <style>
        body {
          background-image: url('../static/imagens/profundo.jpg');
        }
        </style> 
</body>
</html>