<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Site</title>
</head>
<body class="fundo">
    <div class="search-container">
        <input type="text" id="search-bar" onkeyup="filterGallery()" placeholder="Pesquisar...">
    </div>

    <div class="gallery">
        <div class="gallery-item" data-description="Descrição da imagem 1">
            <a href="venda1.html">            
                <img src="../static/imagens/1.jpeg" alt="Imagem 1">
            </a>
            <p>Computador R$ 1.500,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 2">
            <a href="venda2.html">
                <img src="../static/imagens/2.jpeg" alt="Imagem 2">
            </a>
            <p>Portatil R$ 50,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 3">
            <a href="venda3.html">
                <img src="../static/imagens/3.jpeg" alt="Imagem 3">
            </a>    
            <p>Camera fofa R$ 56.00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 4">
            <a href="venda4.html">
                <img src="../static/imagens/4.jpeg" alt="Imagem 4">
            </a>
            <p>Camera R$ 29,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 5">
            <a href="venda5.html"></a>
                <img src="../static/imagens/5.jpeg" alt="Imagem 5">
            </a>
            <p>Fone R$ 20,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 6">
            <a href="venda6.html">
                <img src="../static/imagens/6.jpeg" alt="Imagem 6">
            </a>
            <p>Relogio R$ 31,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 7">
            <a href="venda7.html">
                <img src="../static/imagens/7.jpeg" alt="Imagem 7">
            </a>
            <p>Controle R$ 19,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 8">
            <a href="venda8.html">
                <img src="../static/imagens/8.jpeg" alt="Imagem 8">
            </a>
            <p>Tablet R$ 650,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 9">
            <a href="venda9.html">
                <img src="../static/imagens/9.jpeg" alt="Imagem 9">
            </a>
            <p>Teclado R$ 37,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 10">
            <a href="venda10.html">
                <img src="../static/imagens/10.jpeg" alt="Imagem 10">
            </a>
            <p>Pendrive R$ 20,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 11">
            <a href="venda11.html">
                <img src="../static/imagens/11.jpeg" alt="Imagem 11">
            </a>
            <p>Calculadora R$ 27,00</p>
        </div>

        <div class="gallery-item" data-description="Descrição da imagem 12">
            <a href="venda12.html">
                <img src="../static/imagens/12.jpeg" alt="Imagem 12">
            </a>
            <p>JBL R$ 90,00</p>
        </div>

    </div>
    <script src="script.js"></script>
</body>
</html>