<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda Tablet</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/8.jpeg" alt="tablet">
        <p class="par1">
            Este tablet é barato e extremamente útil para jogos, trabalho e entretenimento.<br>
            Com um desempenho ágil e uma tela nítida, ele é perfeito para todas as suas <br>
            necessidades diárias.
        </p>
        
        <p class="par2">Por R$650,00</p>
        <p class="pores2" >Quer comprar Tablet</p>
    <button class="boto" onclick="document.location='efetuada.html'">Confirma compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
            </style>     
    </body>
</html>