<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda Fone</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/5.jpeg" alt="fone">
        <p class="par1">
        Este fone de ouvido é exatamente o que você precisa para uma experiência de áudio superior.<br>
        Com uma qualidade sonora excelente, ele proporciona um som cristalino e graves profundos. Além<br>
        disso, é extremamente resistente, feito para durar e suportar o uso diário.
        </p>

        <p class="par2">
        Confortável e elegante, é perfeito para ouvir suas músicas favoritas em qualquer lugar.
        </p>

        <p class="par3" >Por R$ 20,00</p>

        <p class="pores2" >Quer comprar Fone</p>
        
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
            </style>   
    </body>
</html>