<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda Camera</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/4.jpeg" alt="camera">
        <p class="par1">
        Esta câmera é perfeita para qualquer ocasião! Com uma qualidade de foto incrível, ela <br>
        captura todos os detalhes com precisão e clareza. Além disso, é extremamente resistente, <br>
        garantindo durabilidade mesmo em ambientes mais desafiadores.
        </p>

        <p class="par2">
        Simples de usar e confiável, é a escolha ideal para quem busca fotos de alta qualidade sem <br>
        complicações.
        </p>

        <p class="par3" >Por R$ 29,00</p>

        <p class="pores2" >Quer comprar Camera</p>
        
        <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
        </style>      
</body>
</html>