<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda Calculadora</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/11.jpeg" alt="calculadora">
        <p class="par1">
            Esta calculadora é minimalista, com uma grande capacidade de cálculo. Feita<br>
            de materiais resistentes, ela é perfeita para todas as suas necessidades matemáticas,<br>
            durando por muito tempo.
        </p>
        <p class="par2">Por R$ 27,00</p>
        <p class="pores2" >Quer comprar Calculadora</p>
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
            </style> 
    </body>
</html>