<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda Teclado</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/9.jpeg" alt="teclado">
        <p class="par1">
        Este teclado é resistente e possui LEDs coloridos que criarão uma experiência visual<br>
        incrível. Além de durável, ele atenderá todas as suas necessidades, seja para trabalho <br>
        ou jogos.
        </p>
        <p class="par2">Por R$ 37,00</p>
        <p class="pores2" >Quer comprar Teclado</p>
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
            </style>     
</body>
</html>