<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda portatil</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/2.jpeg" alt="Portatil">

        <p class="par1">
        Este carregador portátil é a solução perfeita para suas necessidades de energia em <br>
        movimento. Com uma capacidade robusta, ele oferece bastante carga para manter seus <br>
        dispositivos funcionando por muito mais tempo. Compacto e leve, ele é fácil de transportar,<br>
        cabendo perfeitamente na sua bolsa ou mochila.
        </p>

        <p class="par2">
        Além de ser potente, é extremamente durável, construído com materiais de alta qualidade<br>
        que garantem resistência ao desgaste diário. Com múltiplas portas de saída, você pode <br>
        carregar vários dispositivos ao mesmo tempo, de forma rápida e eficiente.
        </p>

        <p class="par3" >Por R$ 50,00</p>

        <p class="pores2">Quer comprar Portatil</p>
        
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button>
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
        </style>    
</body>
</html>