<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda JBL</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/12.jpeg" alt="computador">
        <p class="par1">
            Esta caixa de som JBL é de altíssima qualidade, proporcionando um som excelente. ,<br>
            De uma marca renomada, é perfeita para todas as suas necessidades de áudio, seja para <br>
            festas, encontros ou uso diário.
        </p>
        <p class="par2">Por R$ 90,00</p>
        <p class="pores2">Quer comprar JBL</p>
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
            </style>    
</body>
</html>