<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda Computador</title>
</head>
<body>
    <button class="botão" onclick="document.location = 'reg.html'" >X</button>
        <img class="imagema" src="../static/imagens/1.jpeg" alt="computador">

        <p class="par1">
            Este incrível computador é perfeito para todas as suas necessidades, seja para<br>
            trabalho, estudos ou entretenimento. Ele vem equipado com um poderoso processador<br>
            para garantir que todas as suas tarefas sejam executadas rapidamente e sem problemas.<br>
            Com uma memória RAM generosa, você poderá realizar multitarefas sem enfrentar lentidão.
        </p>

        <p class="par2">
            Para armazenamento, este computador possui um rápido SSD, proporcionando tempos de <br>
            inicialização e carregamento de aplicativos incrivelmente rápidos. Além disso, a placa <br>
            de vídeo dedicada permite uma experiência gráfica superior, ideal para jogos e trabalhos <br>
            com gráficos intensivos.
        </p>

        <p class="par3">    
            Acompanha uma fonte de alimentação robusta para garantir estabilidade e um gabinete elegante,<br>
            e bem ventilado para manter tudo funcionando na temperatura ideal. Este computador é a combinação<br>
            perfeita de desempenho, velocidade e estilo!
        </p>

        <p class="par4" >Por R$ 1.500,00</p>

        <p class="pores2">Quer comprar esse computador </p>
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button>
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
        </style>      
</body>
</html>