<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda Controle</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button>
        <img class="imagema" src="../static/imagens/7.jpeg" alt="controle">
        
        <p class="par1">
            Este controle é visualmente bonito e oferece um ótimo custo-benefício. Além de ser<br>
            barato, ele tem um design elegante e é fácil de usar, proporcionando uma excelente<br>
            experiência de jogo.
        </p>

        <p class="par2">Por R$19,00</p>

        <p class="pores2" >Quer comprar Controle</p>
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
            </style>      
    </body>
</html>