<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda Pendrive</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/10.jpeg" alt="pendrive">
        <p class="par1">
        Este pendrive é bonito e possui muito armazenamento, perfeito para diversos usos como <br>
        salvar projetos, imagens e muito mais.
        </p>
        <p class="par2">Por R$ 20,00</p>
        <p class="pores2">Quer comprar Pendrive</p>
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
            </style>  
</body>
</html>