<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda Relogio</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/6.jpeg" alt="relogio">
        <p class="par1">
        Este relógio é visualmente bonito e exala estilo em todos os detalhes. Feito de materiais<br>
         resistentes, ele não é apenas elegante, mas também extremamente durável, garantindo que <br>
         você possa usá-lo por muito tempo.
        </p>

        <p class="par2">  
        É a combinação perfeita de design e robustez, ideal para qualquer ocasião.
        </p>

        <p class="par3" >Por R$ 31,00</p>

        <p class="pores2">Quer comprar Relogio</p> 
        
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
            </style>    
</body>
</html>