<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Venda camera fofa</title>
</head>
<body>
    <button class="botão" onclick="document.location='reg.html'">X</button> 
        <img class="imagema" src="../static/imagens/3.jpeg" alt="camera fofa">
        <p class="par1">
        Esta câmera é absolutamente adorável e perfeita para capturar todos os seus momentos <br>
        especiais. Com um design fofo e compacto, ela é fácil de levar para qualquer lugar. Mas<br>
        não se deixe enganar pelo seu tamanho, pois as fotos têm uma qualidade incrível!
        </p>

        <p class="par2">
        A câmera é simples de usar, ideal tanto para iniciantes quanto para quem adora fotografia.<br>
        Além disso, possui várias funções divertidas para você explorar a sua criatividade. É a <br>
        combinação perfeita de estilo e desempenho!
        </p>

        <p class="par3" >Por R$56,00</p>
    
        <p class="pores2" >Quer comprar camera fofa</p>
        
    <button class="boto" onclick="document.location='efetuada.html'">Confirmar Compra</button> 
        <style>
            body {
              background-image: url('../static/imagens/inifundo.jpeg');
            }
        </style>  
</body>
</html>